
@{
    ViewData["Title"] = "AccountChart";
}

<div class="container">
    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/add-document_150x130.png" />
                <h4>اضافة مورد</h4>
            </a>
        </div>

        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart" class="justify-content-center">
                <img src="~/images/edit-document.png"/>
                <h4 >تعديل مورد</h4>
            </a>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/delete-button.png" />
                <h4>حذف مورد</h4>
            </a>
        </div>
       
    </div>

   
</div>

