
@{
    ViewData["Title"] = "Journal";
}

<div class="container">
    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddEntry" asp-controller="Journal">
                <img src="~/images/add-document_150x130.png" />
                <h4>اضافة قيد</h4>
            </a>
        </div>

        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart" class="justify-content-center">
                <img src="~/images/edit-document.png"/>
                <h4 >تعديل قيد</h4>
            </a>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/delete-button.png" />
                <h4>حذف قيد</h4>
            </a>
        </div>
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/account.png" />
                <h4>طباعة قيد</h4>
            </a>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/printer.png" />
                <h4>ترحيل القيود</h4>
            </a>
        </div>
    </div>
</div>

