
@{
    ViewData["Title"] = "Index";
}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">شجرة الحسابات</a>
            </div>
            <div class="col-5">
                <a asp-action="Index" asp-controller="Journal">قيود اليومية</a>
            </div>
        </div>

        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">الاستاذ العام</a>
            </div>
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">المخزون</a>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">المبيعات</a>
            </div>
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">الاصناف</a>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">الموردون</a>
            </div>
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">التقارير</a>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5">
                <a asp-action="Index" asp-controller="AccountChart">الاقفال</a>
            </div>
            
        </div>
    </div>
