@model List<AccountChartTreeVm>
@{
    ViewData["Title"] = "AccountChart";
}

<div class="container">
   
    <div class="row m-4">
        @foreach (var acc in Model)
        {
            if(acc.ParentNo == "0")
            {
                <ol>
                    <li>
                        @acc.ParentNo @acc.Name
                    </li>
                </ol>
            }
        }
    </div>
    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/add-document_150x130.png" />
                <h4>اضافة حساب</h4>
            </a>
        </div>

        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart" class="justify-content-center">
                <img src="~/images/edit-document.png"/>
                <h4 >تعديل حساب</h4>
            </a>
        </div>
    </div>

    @*<div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/delete-button.png" />
                <h4>حذف حساب</h4>
            </a>
        </div>
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/account.png" />
                <h4>شجرة الحسابات</h4>
            </a>
        </div>
    </div>

    <div class="row m-4">
        <div class="col-5 text-center">
            <a asp-action="AddAccount" asp-controller="AccountChart">
                <img src="~/images/printer.png" />
                <h4>طباعة الشجرة</h4>
            </a>
        </div>
    </div>*@
</div>

